<template name="tuto4">

    <div class="block-header-tuto">
      <h1 class="bold">Chaque vote reçu révèlera tes qualités.</h1>
      <h3 class="bold">Assure-toi de les travailler quand tu peux pour augmenter ton bien être</h3>
    </div>

    <div class="block-header">
      <p>Honnête</p>
      <p>
        <progress id="avancement" value="80" max="100"></progress>
      </p>
      <p>Curieux</p>
      <p>
        <progress id="avancement" value="60" max="100"></progress>
      </p>
      <p>Créatif</p>
      <p>
        <progress id="avancement" value="45" max="100"></progress>
      </p>
    </div>

    <div class="block-footer">
      <p class="exemple">Suivant :</p>
      <a href="/join" class="exemple"><img src="/img/bouton.png" alt="" style="max-width: 50px;"></a>
    </div>
</template>
