<template name="tuto3">

  <div class="block-header">
    <a href="{{pathFor 'tuto4'}}">
      <div class="block-header"><img src="/img/logo/lovly.png" class="test" style="max-width: 200px;"></div>
    </a>
  </div>

  <div class="block-header">
    <h2 class="bold">​Qui mérite un gros bisou, maintenant tout de suite !</h2>
    <div class="block-header"><img src="/img/thanks.gif" class="img-responsive img-center"></div>
  </div>

  <div class="players-container">
    <a href="{{pathFor 'tuto4'}}" id="target1" class="player selectable">
      <div>
        Laurent<br>
        De La Ville
      </div>
    </a>

    <a href="{{pathFor 'tuto4'}}" id="target2" class="player selectable">
      <div>
        Patrick<br>
        Dumont
      </div>
    </a>

    <a href="{{pathFor 'tuto4'}}" class="player selectable">
      <div>
        Sara<br>
        Kadure
      </div>
    </a>

    <a href="{{pathFor 'tuto4'}}" class="player selectable">
      <div>
        Laurence<br>
        Rivoli
      </div>
    </a>

    <a href="{{pathFor 'tuto4'}}" class="player selectable">
      <div>
        Lamine<br>
        Pashal
      </div>
    </a>

    <a href="{{pathFor 'tuto4'}}" class="player selectable">
      <div>
        Laurence<br>
        Devrai
      </div>
    </a>
    <div class="clearfix"></div>
  </div>

  <div class="">
    <div class="">
      <a href="{{pathFor 'tuto4'}}" class="btn-pollbiz-grey btn-send">Envoyer*</a>
    </div>
    <div class="skip-question m-t-20"><a href="{{pathFor 'tuto4'}}">Changer la question</a></div>
    <div class="pollbiz-information m-t-20">*Ta réponse sera partagée avec la personne de ton choix anonymement</div>
  </div>
</template>