<template name="tuto1">

  <div class="block-header-tuto">
    <h1 class="bold">5 nouvelles questions fun et positives par jour</h1>
  </div>

  <div class="margin-20">
    <img src="/img/love.gif" class="img-responsive img-center width-max-350" alt="">
  </div>

  <div class="block-footer">
    <p class="exemple">Suivant :</p>
    <a href="{{pathFor 'tuto2'}}" class="exemple"><img src="/img/bouton.png" alt="" style="max-width: 50px;"></a>
  </div>
</template>