<template name="tuto2">

  <div class="block-header-tuto">
    <h1 class="bold">Tu choisis ton(a) pote favori(e) et la réponse lui est envoyée anonymement </h1>
  </div>

  <div class="block-header">
    <div class="margin-20">
      <img src="/img/shhh.gif" class="img-responsive img-center width-max-350" alt="">
    </div>
  </div>

  <div class="block-footer">
    <p class="exemple">Voir un exemple :</p>
    <a href="{{pathFor 'tuto3'}}"><img src="/img/bouton.png" alt="" style="max-width: 50px;"></a>
  </div>
</template>
