<template name="pollbizAdminCompanies">
  <h1>Companies</h1>

  {{#if isEditing }}
    {{> pollbizAdminCompanyEdit}}
  {{else}}
    <form id="import">
      <div class="form-group {{errorClass 'city'}}">
        <input type="text" name="city" class="form-control" placeholder="City"/>
        <div class="help-block">{{errorMessage 'city'}}</div>
      </div>
      <div class="form-group {{errorClass 'import'}}">
        <textarea name="import" class="form-control"></textarea>
        <div class="help-block">{{errorMessage 'import'}}</div>
      </div>
      <button id="submit" class="btn btn-primary">Import</button>
    </form>

    <div id="wait" style="display:none"><span class="label label-warning">Please wait it may take some time...</span></div>
  {{/if}}

  <input name="company-filter" class="form-control m-t-20" placeholder="filter name">
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Companies</th>
      <th>City</th>
      <th>Hr</th>
      <th>id</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    {{#each companies}}
      <tr>
        <td>{{name}}</td>
        <td>{{city}}</td>
        <td>
          {{#with hr}}{{pollbizGetFullName this}}
            <small class="alpha-50">{{_id}}</small>
          {{/with}}
        </td>
        <td><span class="alpha-50">{{_id}}</span></td>
        <td class="text-right">
          <button type="button" class="btn btn-xs btn-warning edit"><i class="fa fa-edit fa-fw"></i></button>
          <button type="button" class="btn btn-xs btn-danger delete"><i class="fa fa-trash fa-fw"></i></button>
        </td>
      </tr>
    {{/each}}
    </tbody>
  </table>
</template>


<template name="pollbizAdminCompanyEdit">
  {{#with editedCompany}}
    <form id="edit">
      <div class="form-group {{errorClass 'name'}}">
        <input name="name" type="text" class="form-control" placeholder="company name" value="{{name}}">
        <span class="help-block">{{errorMessage 'name'}}</span>
      </div>

      <div class="form-group {{errorClass 'city'}}">
        <input name="city" type="text" class="form-control" placeholder="city" value="{{city}}">
        <span class="help-block">{{errorMessage 'city'}}</span>
      </div>

      <button class="btn btn-primary submit"><i class="fa fa-check fa-fw"></i> Save</button>
      <button type="button" class="btn btn-default cancel"> Cancel</button>

    </form>
    {{> orbiterErrors}}
  {{/with}}
</template>