<template name="pollbizAdminQuestions">
  <h1>Questions by default</h1>

  {{#if isEditing }}
    {{> pollbizAdminQuestionEdit}}
  {{else}}
    <form id="import">
      <div class="form-group">
        <textarea name="import" class="form-control" placeholder="One question by line"></textarea>
      </div>
      <button class="btn btn-primary">Import</button>
    </form>

    <table class="table table-striped">
      <thead>
      <tr>
        <th>Question</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      {{#each questions}}
        <tr>
          <td>{{question}}</td>
          <td class="text-right">
            <button type="button" class="btn btn-xs btn-warning edit"><i class="fa fa-edit fa-fw"></i></button>
            <button type="button" class="btn btn-xs btn-danger delete"><i class="fa fa-trash fa-fw"></i></button>
          </td>
        </tr>
      {{/each}}
      </tbody>
    </table>
  {{/if}}
</template>


<template name="pollbizAdminQuestionEdit">
  {{#with editedQuestion}}
    <form>
      <div class="form-group {{errorClass 'question'}}">
        <input name="question" type="text" class="form-control" placeholder="question" value="{{question}}">
        <span class="help-block">{{errorMessage 'question'}}</span>
      </div>

      <div class="form-group {{errorClass 'videoId'}}">
        <label>Youtube Video ID</label>
        <input name="videoId" class="form-control" placeholder="Video ID" value="{{videoId}}">
        <span class="help-block">{{errorMessage 'videoId'}}</span>
      </div>

      <div class="form-group {{errorClass 'picture'}}">
        <label>Picture</label>
        {{> orbiterMediasMultipleAddEdit parentId=_id currentValues=pictureId source_id='pictureId' inputName='pictureId' sessionName='pictureId' multiple=false denyCrop=true denyRotate=true}}
      </div>

      <button class="btn btn-primary submit"><i class="fa fa-check fa-fw"></i> Save</button>
      <button type="button" class="btn btn-default cancel"> Cancel</button>

    </form>
    {{> orbiterErrors}}
  {{/with}}
</template>