<template name="pollbizAdminUsers">
  <h1>Users</h1>

  <div>
    {{#if isEditing }}
      {{> pollbizAdminUsersEdit}}
    {{else}}

      {{#unless Template.subscriptionsReady}}
        Loading users...
      {{else}}
        <!--<div class="pull-right">-->
        <!--<a href="{{pathFor 'orbiterAdminUsersAdd'}}" class="btn btn-primary"> Create user</a>-->
        <!--</div>-->
        <table class="table">
          <thead>
          <tr>
            <th></th>
            <th>Last Name</th>
            <th>First Name</th>
            <th>Email</th>
            <th>Company</th>
            <th>Managed company</th>
            <th>Received</th>
            <th>Answered</th>
            <!--<th>Language</th>-->
            <!--<th>Invitation accepted</th>-->
            <th>Roles</th>
            <th>Impersonate</th>
            <th>Login/out</th>
            <!--<th>Service</th>-->
            <th width="80"></th>
          </tr>
          </thead>
          <tbody>
          {{#each users}}
            {{#if isVisible}}
              {{> pollbizAdminUsersOne}}
            {{/if}}
          {{/each}}
          </tbody>
        </table>
      {{/unless}}
    {{/if}}
  </div>

</template>

<template name="pollbizAdminUsersOne">
  {{#unless Template.subscriptionsReady}}
    <tr>
      <td colspan="12">Loading...</td>
    </tr>
  {{else}}
    <tr>
      <td>
        {{#if profile.obPictureURL}}
          <img src="{{profile.obPictureURL}}" style="max-width: 50px;max-height: 50px;"/>
        {{/if}}
      </td>
      <td>{{profile.obName.last}}</td>
      <td>{{profile.obName.first}}</td>
      <td>{{getEmailAddress _id}}</td>
      <td>{{profile.company.name}} <span class="alpha-50">{{profile.company._id}}</span></td>
      <td>{{#each managedCompany}} {{name}}<br><span class="alpha-50">{{_id}}</span> {{/each}}</td>
      <td>{{voteReceveid}}</td>
      <td>{{voteAnswered}}</td>
      <!--<td>{{profile.language.name}}</td>-->
      <!--<td>{{invitationAccepted}}</td>-->
      <td>{{#each roles}}{{this}} | {{/each}}</td>
      <td>
        <button class="btn btn-primary btn-xs" data-impersonate="{{_id}}">Impersonate</button>
      </td>
      <!--<td>{{getService _id}}</td>-->
      <td>
        {{#if status.online}}
          {{#if status.idle}}
            <span class="label label-warning">idle</span>
            <span data-livestamp="{{formatDate status.lastActivity 'full'}}"></span>
          {{else}}
            <span class="label label-success">online</span>
            <span data-livestamp="{{formatDate status.lastLogin.date 'full'}}"></span>
          {{/if}}
        {{else}}
          <span class="label label-default">offline</span>
          <span data-livestamp="{{formatDate status.logoutTime 'full'}}"></span>
        {{/if}}
      </td>
      <td class="text-right">
        {{#if canEdit}}
          <button type="button" class="btn btn-xs btn-warning edit"><i class="fa fa-edit fa-fw"></i></button>
        {{/if}}
        {{#if canDelete}}
          <button type="button" class="btn btn-xs btn-danger delete"><i class="fa fa-trash fa-fw"></i></button>
        {{/if}}
      </td>
    </tr>
  {{/unless}}
</template>
<!--<template name="orbiterAdminUsersAdd">-->

<!--<h2>Create user</h2>-->

<!--{{> orbiterAccountsAdminEnroll}}-->
<!--</template>-->

<template name="pollbizAdminUsersEdit">
  {{#with editedUser}}
    <form>
      <div class="form-group {{errorClass 'last'}}">
        <input name="profile.obName.last" type="text" class="form-control" placeholder="last name" value="{{profile.obName.last}}">
        <span class="help-block">{{errorMessage 'last'}}</span>
      </div>

      <div class="form-group {{errorClass 'first'}}">
        <input name="profile.obName.first" type="text" class="form-control" placeholder="first name" value="{{profile.obName.first}}">
        <span class="help-block">{{errorMessage 'first'}}</span>
      </div>

      <div class="form-group {{errorClass 'email'}}">
        <input name="email" type="email" class="form-control" placeholder="{{_ "email"}}" value="{{getEmailAddress _id}}">
        <span class="help-block">{{errorMessage 'email'}}</span>
      </div>

      <div class="form-group {{errorClass 'company'}} company-auto-complete-wrapper">
        {{> inputAutocomplete settings=company id="company-auto-complete" class="form-control" placeholder="Name of your company" value=profile.company.name autocomplete="off"}}
        <div class="help-block">{{errorMessage 'company'}}</div>
      </div>

      <div class="form-group {{errorClass 'managedCompany'}} company-auto-complete-wrapper">
        {{> inputAutocomplete settings=managedCompany id="managed-company-auto-complete" class="form-control" placeholder="Managed company" value=managedCompanyValue autocomplete="off"}}
        <div class="help-block">{{errorMessage 'managedCompany'}}</div>
      </div>

      <!--<div class="form-group {{errorClass 'language'}}">-->
      <!--<select name="tmpLanguage" class="form-control">-->
      <!--{{#each orbiterLanguages}}-->
      <!--{{> orbiterLanguagesSelectOption}}-->
      <!--{{/each}}-->
      <!--</select>-->
      <!--<span class="help-block">{{errorMessage 'language'}}</span>-->
      <!--</div>-->

      <div class="form-group">
        <select id="roles" name="roles[]" multiple style="width: 100%">
          {{#each roles}}
            {{#with parent=.. context=this}}
              <option value="{{context.name}}" {{selected}}>{{context.name}}</option>
            {{/with}}
          {{/each}}
        </select>
      </div>

      <button class="btn btn-primary submit"><i class="fa fa-check fa-fw"></i> Save</button>
      <button type="button" class="btn btn-default cancel"> Cancel</button>

    </form>
    {{> orbiterErrors}}
  {{/with}}
</template>

<template name="adminUsersCompanyAutocomplete">
  {{name}} <span class="alpha-50">{{_id}}</span>
</template>