<template name="adminLayout">
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid p-l-70 p-r-70">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{pathFor 'home' lng=getMyLanguageCode}}">Lovly</a>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          {{#if isOnlyHrStrict}}
            <li class="{{isActiveRoute 'adminHr'}}"><a href="{{pathFor 'adminHr'}}">Dashboard</a></li>
            <li class="{{isActiveRoute 'pollbizAdminHrCompanies'}}"><a href="{{pathFor 'pollbizAdminHrCompanies'}}">Companies</a></li>
            <li class="{{isActiveRoute 'pollbizAdminHrQuestions'}}"><a href="{{pathFor 'pollbizAdminHrQuestions'}}">Questions</a></li>
            <li class="{{isActiveRoute regex='pollbizAdminHrUsers|pollbizAdminHrUser'}}"><a href="{{pathFor 'pollbizAdminHrUsers'}}">Users</a></li>
          {{/if}}
          {{#if isAdmin}}
            {{#if isOnlyHr}}
              <li class="{{isActiveRoute 'adminHr'}}"><a href="{{pathFor 'adminHr'}}">Dashboard Hr</a></li>
              <li class="{{isActiveRoute 'pollbizAdminHrCompanies'}}"><a href="{{pathFor 'pollbizAdminHrCompanies'}}">Companies Hr</a></li>
              <li class="{{isActiveRoute 'pollbizAdminHrQuestions'}}"><a href="{{pathFor 'pollbizAdminHrQuestions'}}">Questions Hr</a></li>
              <li class="{{isActiveRoute regex='pollbizAdminHrUsers|pollbizAdminHrUser'}}"><a href="{{pathFor 'pollbizAdminHrUsers'}}">Users Hr</a></li>
              <li><a href="">|</a></li>
            {{/if}}
            <li class="{{isActiveRoute 'admin'}}"><a href="{{pathFor 'admin'}}">Dashboard</a></li>
            <li class="{{isActiveRoute 'pollbizAdminCompanies'}}"><a href="{{pathFor 'pollbizAdminCompanies'}}">Companies</a></li>
            <li class="{{isActiveRoute 'pollbizAdminQuestions'}}"><a href="{{pathFor 'pollbizAdminQuestions'}}">Questions</a></li>
            <li class="{{isActiveRoute 'pollbizAdminUsers'}}"><a href="{{pathFor 'pollbizAdminUsers'}}">Users</a></li>
            <li class="{{isActiveRoute 'pollbizAdminTodo'}}"><a href="{{pathFor 'pollbizAdminTodo'}}">Todo</a></li>
          {{/if}}
        </ul>

        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{myFullName}} <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="" class="logout"><i class="fa fa-power-off"></i> {{_ 'logout'}}</a></li>
            </ul>
          </li>
          {{> orbiterCoreWebmasterAdminMenu}}
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </nav>

  <div class="container-fluid">
    <div class="admin-layout">
      {{> yield}}
    </div>

  </div><!-- /.container -->
  {{> orbiterCoreException }}
  {{> orbiterConnectionAlert}}
  {{> orbiterErrors}}

</template>
