<template name="home">
  {{#if allRequiredOk}}
    {{#unless questionSent}}
      {{#with randomQuestion}}
        <div class="block-header">
          <h1 class="main-title">{{question}}</h1>
        </div>
        {{#if pictureId}}
          <div class="block-header">
            <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-12 text-center">
              <div class="m-b-20">
                {{> orbiterMediasImage imageId=pictureId alt=question class="img-center img-responsive"}}
              </div>
            </div>
            <div class="clearfix"></div>
          </div>
        {{else}}
          {{#if videoId}}
            {{> youtubeVideo}}
          {{/if}}
        {{/if}}
      {{/with}}

      <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-12 text-center">
        <div class="players-container">
          {{#each players}}
            <a href="" class="player selectable {{isPlayerSelected}}">
              <div>
                {{firstName}}<br>
                {{lastName}}
              </div>
            </a>
          {{/each}}
          <div class="clearfix"></div>
        </div>

        <div class="">
          <a href="" class="btn-pollbiz-grey btn-send">Envoyer*</a>
        </div>
        <div class="pollbiz-information pollbiz-must-select-player m-t-20" style="display:none">*Vous devez d'abord choisir un ami</div>
        <div class="skip-question m-t-20"><a href="">Passer cette question</a></div>
        <div class="pollbiz-information m-t-20">*Votre réponse sera partagée avec votre ami selectionné anonymement ;)</div>
        {{#if votedForMe}}
          <div class="m-t-20 text-center">
            <h3>Vous avez {{nbVotes}} vote(s) non lu(s)</h3>
            <a href="{{linkVotes}}" class="btn-pollbiz-grey btn-see-answers">Voir les réponses</a>
          </div>
        {{/if}}
      </div>

    {{else}}
      <div class="block-header">
        <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-12">
          <h1>Shhhh la réponse a été envoyée anonymement<br>Ça va lui booster le moral!</h1>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-12">
        <div class="text-center">
          <div class="share-text m-t-20">Plus on est de fou plus on rit !<br>Invite tes potes</div>

          <div class="text-center">
            <div class="color-orange m-t-20 m-b-10">Invite tes potes sur Facebook {{#if isMobile}}/ Messenger{{/if}} :</div>
            <a href="{{facebookShare}}" class="color-orange bold" target="_blank"><img src="/img/facebook.png"></a>
            {{#if isMobile}}
              <a href="{{messengerShare}}" class="color-orange bold"><img src="/img/facebook-messenger.png"></a>
            {{/if}}
          </div>

          <!--<div class="m-t-20">-->
            <!--<a href="/invite" class="btn-pollbiz-grey orange btn-add">Inviter</a>-->
          <!--</div>-->
          <!--<div class="share-link">-->
          <!--<a href="whatsapp://send?text=http://www.pollbizapp.com" target="_blank" class="share-whatsapp"></a>-->
          <!--<a href="https://www.facebook.com/sharer/sharer.php?u=http%3A//www.pollbizapp.com" target="_blank" class="share-facebook"></a>-->
          <!--<a href="mailto:?subject=Pollbiz - Give and receive love from your colleagues=http%3A//www.pollbizapp.com" target="_blank" class="share-mail"></a>-->
          <!--</div>-->
          <div class="or m-t-20">
            OU
          </div>
          <div>
            <a href="" class="btn-pollbiz-grey btn-next-question m-t-20">Question suivante</a>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    {{/unless}}
  {{else}}
    {{> inviteColleague}}
  {{/if}}
</template>

