<template name="inviteColleague">
  <div class="block-header">
    <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-12">
      <h1 class="main-title">Reçois et envoie du LOVE à tes amis de façon fun et positive</h1>
    </div>
    <div class="clearfix"></div>
  </div>
  <div class="container">
    <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-12 not-sent">
      {{#if playerNeeded}}
        <div class="pollbiz-information m-t-20">:( Il manque encore {{nbPlayerNeedeed}} pote(s) pour commencer à jouer</div>
      {{/if}}

      <div class="text-center">
        <div class="color-orange m-t-20 m-b-10">Invite tes potes sur Facebook {{#if isMobile}}/ Messenger{{/if}} :</div>
        <a href="{{facebookShare}}" class="color-orange bold" target="_blank"><img src="/img/facebook.png"></a>
        {{#if isMobile}}
          <a href="{{messengerShare}}" class="color-orange bold"><img src="/img/facebook-messenger.png"></a>
        {{/if}}
      </div>
    </div>
  </div>
</template>
