<template name="pollBizAnswerVote">
  {{#with votedForMe}}
    {{#with question}}
      <div class="block-header">
        <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-12">
          <h1>{{question}}</h1>
        </div>
        <div class="clearfix"></div>
      </div>
      {{#if pictureId}}
        <div class="block-header">
          <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-12 text-center">
            <div class="m-b-20">
              {{> orbiterMediasImage imageId=pictureId alt=question class="img-center img-responsive"}}
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
      {{else}}
        {{#if videoId}}
          {{> youtubeVideo}}
        {{/if}}
      {{/if}}
    {{/with}}

    <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-12">
      <div class="text-center m-t-20">
        <h3>Tu viens de recevoir un vote anonyme!</h3>
        <div class="players-container">
          {{#each players}}
            <div class="player {{isPlayerSelected ..}}">
              <div>
                {{firstName}}<br>
                {{lastName}}
              </div>
            </div>
          {{/each}}
          <div class="clearfix"></div>
        </div>
        <div class="m-t-20">
          {{#if haveMoreAnswer}}
            <a href="{{linkVotes}}" class="btn-pollbiz-grey js-set-vote-as-seen">Réponse suivante</a>
          {{else}}
            <a href="{{pathFor 'home'}}" class="btn-pollbiz-grey orange js-set-vote-as-seen">Jouer</a>
          {{/if}}
        </div>
      </div>
    </div>
  {{else}}
    <div class="block-header">
      <div class="m-t-20"></div>
    </div>
    <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-12">
      <div class="text-center m-t-20">
        <h3>Bonjour petit scarabée<br> cette réponse secrète n’est pas pour toi.</h3>
        <div class="m-t-20">
          {{#if haveMoreAnswer}}
            <a href="{{linkVotes}}" class="btn-pollbiz-grey js-set-vote-as-seen">Réponse suivante</a>
          {{else}}
            <a href="{{pathFor 'home'}}" class="btn-pollbiz-grey js-set-vote-as-seen">Jouer</a>
          {{/if}}
        </div>
      </div>
    </div>
  {{/with}}
</template>