<template name="youtubeVideo">
  <div class="block-header">
    <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-12 text-center">
      <div id="youtube-video-wrapper" class="m-b-20">
        <div id="youtube-video"></div>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
</template>