<template name="forgotPassword">
  <div class="block-header">
    <h1>{{_ 'obtAccountsForgotPasswordTitle'}}</h1>
    <p class="subtitle">{{_ 'obtAccountsForgotPasswordSubtitle'}}</p>

  </div>
  <div class="container-fluid reduced-width">
    <div class="page auth">
      <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-12">
        <div class="wrapper-auth">
          {{#unless successMessage}}
            <form class="m-t-50">
              {{#if errorMessages}}
                <div class="list-errors">
                  {{#each errorMessages}}
                    <div class="list-item">{{this}}</div>
                  {{/each}}
                </div>
              {{/if}}

              <div class="form-group {{errorClass 'email'}}">
                <label>Email</label>
                <input type="email" name="email" class="form-control" placeholder="Enter your email"/>
              </div>

              <button type="submit" class="btn btn-primary">{{_ 'obtAccountsResetPassword'}}</button>
            </form>
          {{else}}
            <p class="m-t-20 alert alert-info">Success! {{successMessage}}</p>
          {{/unless}}
        </div>
      </div>
    </div>
  </div>
</template>
