<template name="join">
  <div class="page auth">
    <div class="block-header text-center">
      <h1 class="main-title">L'application qui fait du bien au moral</h1>

      <!--<div class="m-b-20 btn-group">-->
      <!--<a href="{{pathFor 'join'}}" class="btn btn-primary {{isActiveRoute regex='join' class='active'}}">{{_ "join"}}</a>-->
      <!--<a href="{{pathFor 'signin'}}" class="btn btn-primary {{isActiveRoute regex='signin' class='active'}}">{{_ "signIn"}}</a>-->
      <!--</div>-->

      <a href="/tuto-lovly.html">
        <div class="whats-this">
          <span>Ok mais c'est quoi ça ?</span><br>
          Voir une démo
        </div>
      </a>
      <div class="fond-card"></div>
    </div>

    <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-12">
      <div class="wrapper-auth">

        <h2>{{_ "join"}}</h2>

        <div class="at-oauth">
          <button class="btn at-social-btn" id="at-facebook" name="facebook">
            <i class="fa fa-facebook"></i> Se connecter avec Facebook
          </button>
        </div>

        <!--{{#if showOauthServices}}-->
        <!--{{> atOauth state='signIn'}}-->
          <!--{{> atSep}}-->
        <!--{{/if}}-->

        <!--<div class="at-oauth">-->
        <!--<button class="btn at-social-btn" id="at-linkedin" name="linkedin">-->
        <!--<i class="fa fa-linkedin"></i> Register with Linkedin-->
        <!--</button>-->
        <!--</div>-->
        <!--<div class="at-sep">-->
        <!--<strong>OR</strong>-->
        <!--</div>-->

        <!--<form id="join">-->
        <!--<div class="form-group {{errorClass 'email'}}">-->
        <!--<label>Email</label>-->
        <!--<input type="email" name="email" class="form-control" placeholder="Entrer votre email"/>-->
        <!--<div class="help-block">{{errorMessage 'email'}}</div>-->
        <!--</div>-->

        <!--<div class="form-group {{errorClass 'password'}}">-->
        <!--<label>Mot de passe</label>-->
        <!--<input type="password" name="password" class="form-control" placeholder="Mot de passe"/>-->
        <!--<div class="help-block">{{errorMessage 'password'}}</div>-->
        <!--</div>-->

        <!--<div class="form-group {{errorClass 'confirm'}}">-->
        <!--<input type="password" name="confirm" class="form-control" placeholder="Confirmer le mot de passe"/>-->
        <!--<div class="help-block">{{errorMessage 'confirm'}}</div>-->
        <!--</div>-->

        <!--{{#if errorMessages}}-->
        <!--<div class="list-errors">-->
        <!--{{#each errorMessages}}-->
          <!--<div class="list-item">{{this}}</div>-->
          <!--{{/each}}-->
        <!--</div>-->
        <!--{{/if}}-->

        <!--<button type="submit" class="btn btn-primary">S'inscrire</button>-->
        <!--</form>-->
      </div>
    </div>
  </div>
</template>
