<template name="profile">
  <div class="block-header">
    <h1 class="main-title">L'application qui fait du bien au moral</h1>
  </div>

  <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-12">
    {{#if profileCompleted}}
      <h1>Profile Completed...</h1>
    {{else}}

      <h2>Nom de mon école</h2>

      <form>
        <!--<div class="form-group {{errorClass 'first'}}">-->
        <!--<label>Prénom</label>-->
        <!--<input type="text" name="first" class="form-control" placeholder="Prénom" value="{{user.profile.obName.first}}" />-->
        <!--<div class="help-block">{{errorMessage 'first'}}</div>-->
        <!--</div>-->

        <!--<div class="form-group {{errorClass 'last'}}">-->
        <!--<label>Nom</label>-->
        <!--<input type="text" name="last" class="form-control" placeholder="Nom" value="{{user.profile.obName.last}}" />-->
        <!--<div class="help-block">{{errorMessage 'last'}}</div>-->
        <!--</div>-->

        <div class="form-group {{errorClass 'company'}}">
          <label class="font-weight-normal">Afin de te mettre en relation avec les potes de ton école</label>
          {{> inputAutocomplete settings=company id="company-auto-complete" class="form-control" placeholder="Nom de mon école" autocomplete="off"}}
          <input name="companyNew" type="hidden">
          <input name="companyId" type="hidden">
          <div class="help-block">{{errorMessage 'company'}}</div>
        </div>

        {{#if errorMessages}}
          <div class="list-errors">
            {{#each errorMessages}}
              <div class="list-item">{{this}}</div>
            {{/each}}
          </div>
        {{/if}}

        <div class="text-center p-t-50">
          <img src="/img/bouton.png" class="submit clickable">
        </div>
      </form>
      <button type="button" id="btn-profile-creating" class="btn btn-warning">Veuillez patientez...</button>
    {{/if}}
  </div>
</template>

<template name="profileCompanyAutocomplete">
  {{name}}
</template>