<template name="resetPassword">
  {{#unless invalidToken}}
    <div class="block-header">
      <h1>{{_ 'obtAccountsResetPassword'}}</h1>

      <p class="subtitle">{{_ 'orbAccountsNewPasswordSubtitle'}}</p>
    </div>

    <div class="wrapper-auth">
      <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-12">
        {{#unless successMessage}}
          <form>
            {{#if errorMessages}}
              <div class="list-errors">
                {{#each errorMessages}}
                  <div class="list-item">{{this}}</div>
                {{/each}}
              </div>
            {{/if}}
            {{#if checkErrors}}
              <div class="list-errors">
                {{#each checkErrors}}
                  <div class="list-item">{{message}}</div>
                {{/each}}
              </div>
            {{/if}}

            <div class="form-group {{errorClass 'password'}}">
              <label>Password</label>
              <input id="inputPassword" type="password" name="password" class="form-control" placeholder="{{_ 'password'}}"/>
            </div>

            <div class="form-group {{errorClass 'confirm'}}">
              <input type="password" name="confirm" class="form-control" placeholder="{{_ 'ConfirmYourPassword'}}"/>
            </div>

            <button type="button" id="submit-reset-password" class="btn btn-primary">{{_ 'obtAccountsResetPassword'}}</button>
          </form>
        {{else}}
          <p class="m-t-20 alert alert-info">{{successMessage}}</p>
        {{/unless}}
      </div>
    </div>
  {{else}}
    <div class="block-header">
      <h1>{{_ 'obtAccountsResetPassword'}}</h1>

    </div>
    <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-12">
      <p class="m-t-20 alert alert-danger">{{invalidToken}}</p>
    </div>
  {{/unless}}
</template>
