<template name="signin">
  <div class="page auth">
    <div class="block-header">
      <h1 class="main-title">L'application qui fait du bien au moral</h1>

      <div class="m-b-20 btn-group">
        <a href="{{pathFor 'join'}}" class="btn btn-primary {{isActiveRoute regex='join' class='active'}}">{{_ "join"}}</a>
        <a href="{{pathFor 'signin'}}" class="btn btn-primary {{isActiveRoute regex='signin' class='active'}}">{{_ "signIn"}}</a>
      </div>
    </div>

    <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-12">

      <h2>{{_ "signIn"}}</h2>

      {{#if showOauthServices}}
        {{> atOauth state='signIn'}}
        <!--{{> atSep}}-->
      {{/if}}

      <!--<div class="at-oauth">-->
      <!--<button class="btn at-social-btn" id="at-linkedin" name="linkedin">-->
      <!--<i class="fa fa-linkedin"></i> Sign In with Linkedin-->
      <!--</button>-->
      <!--</div>-->
      <!--<div class="at-sep">-->
      <!--<strong>OR</strong>-->
      <!--</div>-->

      <!--<form role="form">-->
        <!--{{#if errorMessages}}-->
          <!--<div class="list-errors">-->
            <!--{{#each errorMessages}}-->
              <!--<div class="list-item">{{this}}</div>-->
            <!--{{/each}}-->
          <!--</div>-->
        <!--{{/if}}-->
        <!--<div class="form-group {{errorClass 'email'}}">-->
          <!--<label>Email</label>-->
          <!--<input id="email" name="email" type="email" class="form-control" placeholder="Entrer votre mot de passe" required="">-->
        <!--</div>-->

        <!--<div class="form-group {{errorClass 'password'}}">-->
          <!--<label>Mot de passe</label>-->
          <!--<input type="password" name="password" class="form-control" placeholder="Entrer votre mot de passe"/>-->
        <!--</div>-->

        <!--<div class="m-t-20">-->
          <!--<button class="btn btn-primary js-register" type="submit">Se connecter</button>-->
        <!--</div>-->
      <!--</form>-->

      <!--<div class="m-t-20">-->
        <!--<span class="center-block"><a href="{{pathFor 'orbiterAccountsForgotPassword'}}" class="link-auth-alt">{{_ "forgotPassword"}}</a></span>-->
      <!--</div>-->
    </div>
  </div>
</template>
