body {
  .whats-this {
    font-size: 15px;
    padding: 10px;
    margin: auto;
    width: 260px;
    color: #fff;
    background-color: #ff9047;
    border-radius: 20px;
    display: inline-block;
  }

  .whats-this span {
    font-size: 20px;
    font-weight: 700;
  }

  .block-header .logo {
    max-width: 350px;
    padding: 10px;
  }

  .block-header {
    text-align: center;
    background-color: #eef0f3;
    padding: 1px;
  }

  .fond-card {
    background-image: url(img/fond.jpg);
    height: 280px;
    margin-top: -175px;
    z-index: -1;
  }

  .main-title {
    font-weight: 700;
    padding: 0 10px 20px 10px;
  }
}