/* CSS declarations go here */

@color-main: #e16d38;
@color-main-dark: #bb5c31;
@color-grey-light: #eef0f3;
@color-grey: #bbbbbb;
@color-grey-dark: #6f6f6f;
@color-grey-darker: #383838;
@color-orange: #ff9047;
@bg-color-error: #f7d5d4;
@color-error: #fc2625;

html, body {
  height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
  color: #323648;
  font-family: 'Anton', sans-serif;
}

.img-center {
  margin: 0 auto;
}

.main-title {
  font-weight: bold;
  padding-bottom: 30px;
}

.fond-card {
  background: url("/img/fond.jpg") repeat-x;
  height: 280px;
}

.whats-this {
  span {
    font-size: 27px;
    font-weight: bold;
  }
  font-size: initial;
  padding: 20px;
  margin: auto;
  width: 350px;
  color: white;
  background-color: @color-orange;
  border-radius: 20px;

}

.btn {
  border-radius: 4px;
}

.btn-primary {
  color: #fff;
  background-color: @color-main;
  border-color: @color-main;
  &.active, &:hover, &:focus, &.active:hover, &.active:focus {
    background-color: @color-main-dark;
    border-color: @color-main-dark;
  }
}

.block-header {
  text-align: center;
  background-color: @color-grey-light;
  padding: 30px 1px 0;
  .logo {
    max-width: 100%;
    &.small {
      max-width: 210px;
    }
  }
}

a:hover, a:focus {
  text-decoration: none;
  outline: none;
}

.players-container {
  width: 330px;
  margin: 30px auto;
  .player {
    position: relative;
    text-align: center;
    padding: 5px;
    margin: 10px;
    color: white;
    background-color: @color-main;
    width: 145px;
    height: 90px;
    line-height: 80px;
    float: left;
    &.selectable:hover, &.selectable:focus {
      color: white;
      background-color: @color-main-dark;
    }
    &.selected {
      color: white;
      background-color: @color-main-dark;
    }
    div {
      display: inline-block;
      vertical-align: middle;
      line-height: 20px;
    }
  }

  .player-novoted {
    color: @color-grey-dark;
    background-color: transparent !important;
    border: 2px solid @color-grey-dark;
    div {
      display: inline-block;
      vertical-align: middle;
      line-height: 20px;
    }
  }
  .anwser-selected {
    color: white;
    background-color: @color-main-dark;
    border: 2px solid @color-main-dark;
  }
}

.btn-next-question {
  margin-top: 50px;
  font-size: 35px !important;
}

.skip-question {
  text-align: right;
  font-style: italic;
  a {
    color: @color-grey;
  }
}

.company-auto-complete-wrapper {
  position: relative;
}

.btn-pollbiz-grey {
  background-color: @color-grey-dark;
  color: white;
  padding: 20px;
  text-transform: uppercase;
  font-size: 36px;
  display: inline-block;
  &:hover {
    background-color: @color-grey-darker;
  }
  &:hover, &:focus {
    color: white;
  }
  &.orange {
    background-color: @color-main;
  }
}

.color-orange {
  color: @color-main;
  &:focus, &:hover {
    color: @color-main;
  }
}

// ---

.pollbiz-information {
  color: @color-grey-dark;
  font-size: 16px;
}

.share-text {
  color: @color-main;
  font-weight: bold;
  font-size: 20px;
}

.share-link {
  margin-top: 20px;
  a {
    margin: 10px;
    display: inline-block;
    width: 50px;
    height: 50px;
    &.share-whatsapp {
      background: url("/img/share-whatsapp.png") no-repeat;
      background-size: 50px;
      &:hover {
        background: url("/img/share-whatsapp-hover.png") no-repeat;
        background-size: 50px;
      }
    }
    &.share-facebook {
      background: url("/img/share-facebook.png") no-repeat;
      background-size: 50px;
      &:hover {
        background: url("/img/share-facebook-hover.png") no-repeat;
        background-size: 50px;
      }
    }
    &.share-mail {
      background: url("/img/share-mail.png") no-repeat;
      background-size: 50px;
      &:hover {
        background: url("/img/share-mail-hover.png") no-repeat;
        background-size: 50px;
      }
    }
  }

}

.btn-see-answers {
  font-size: 16px
}

.btn-send-invitation {
  font-size: 30px
}

.or {
  margin-top: 50px;
  font-weight: bold;
  font-size: 25px;
}

// footer
.footer {
  height: 20px;
  clear: both;
}

//admin

.admin-layout {
  padding: 50px;
}

//Divers

.alpha-50 {
  opacity: 0.5;
}

.has-error {
  padding: 5px;
  background-color: #ff05000f;
}

.errors {
  text-align: center;
  width: 100%;
  div {
    display: inline-block;
    margin: 140px auto;
    button.close {
      padding: 0 20px;
    }
  }
}

.datepicker {
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.navbar-inverse {
  background-color: #2f2f2f;
  border-bottom: 5px solid @color-main;
}

.errors {
  div.alert-small {
    width: 350px;
    margin: 100px auto;
  }
}

#youtube-video-wrapper {
  height: 400px;
}

.img-center.img-responsive {
  margin: 0 auto;
}

.font-weight-normal {
  font-weight: normal;
}

// disable google and linkin

.at-oauth {
  #at-google, #at-linkedin {
    display: none;
  }
}
