.bootstrap-tagsinput {
  width: 100%;
  border-radius: 0;
  .tag {
    display: inline-block;
    position: relative;
    float: left;
    border-radius: 0.25em;
    border: 0;
    cursor: auto;
    color: #fff;
    background-color: #43A2F3;
    -webkit-animation: fstAnimationEnter 0.2s;
    -moz-animation: fstAnimationEnter 0.2s;
    animation: fstAnimationEnter 0.2s;

    font-weight: normal;
    text-transform: uppercase;
    font-size: 13px;
    padding: 5px;
    margin: 0 2px;
    [data-role=remove] {
      text-transform: lowercase;
      color: white;
      &:after {
        content: "x";
        padding: 0 2px;
        cursor: pointer;
      }
    }
  }

  .tt-query { /* UPDATE: newer versions use tt-input instead of tt-query */
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  }

  .tt-hint {
    color: #999;
  }

  .tt-menu { /* UPDATE: newer versions use tt-menu instead of tt-dropdown-menu */
    width: 422px;
    margin-top: 12px;
    padding: 8px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    //border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    cursor: pointer;
  }

  .tt-suggestion {
    padding: 3px 20px;
    font-size: 18px;
    line-height: 24px;
    &:hover,&.tt-cursor{
      color: #fff;
      background-color: #43A2F3;
    }
  }

  //.tt-suggestion.tt-is-under-cursor { /* UPDATE: newer versions use .tt-suggestion.tt-cursor */
  //  color: #fff;
  //  background-color: #0097cf;
  //}

  //.tt-suggestion p {
  //  margin: 0;
  //}
}
