#tuto {
  height: 100%;
  background-color: #eef0f3 !important;
  text-align: center;

  //h1, h2, h3, h4, h5, h6 {
  //  font-weight: 300;
  //  color: #323648;
  //  font-family: 'Anton', sans-serif;
  //}

  //a {
  //  text-decoration: none;
  //}

  .width-max-350 {
    max-width: 350px !important;
  }

  .bold {
    font-weight: 600 !important;
  }

  .skip-question {
    text-align: right;
    font-style: italic;
  }

  .block-header {
    text-align: center;
    background-color: #eef0f3; /* @color-grey-light */
    padding: 30px 1px 0;
  }

  .block-header.logo {
    max-width: 100%;
  }

  .skip-question {
    margin: 0 auto;
    a {
      color: #bbb;
    }
  }

  .pollbiz-information {
    color: #6f6f6f;
    font-size: 16px;
  }

  .m-t-20 {
    margin-top: 20px !important;
  }

  *, :after, :before {
    box-sizing: border-box;
  }

  .clearfix:before {
    clear: both;
    display: table;
    content: " ";
  }

  .clearfix:after {
    clear: both;
  }

  .players-container {
    width: 330px;
    margin: 30px auto;
  }

  .player {
    position: relative;
    text-align: center;
    padding: 5px;
    margin: 10px;
    color: white;
    background-color: #e16d38; /* color main */
    width: 145px;
    height: 90px;
    line-height: 80px;
    float: left;
  }

  .player div {
    display: inline-block;
    vertical-align: middle;
    line-height: 20px;
  }

  .player.selectable:hover, .player.selectable:focus {
    color: white;
    background-color: #B3572D;
  }

  .player.selected {
    color: white;
    background-color: #B3572D;
  }

  .btn-pollbiz-grey {
    background-color: #6f6f6f; /* @color-grey-dark */
    color: white;
    padding: 20px;
    text-transform: uppercase;
    font-size: 36px;
    display: inline-block;
  }

  .btn-pollbiz-grey:hover {
    background-color: #383838; /* @color-grey-darker */
  }

  .btn-pollbiz-grey:hover, .btn-pollbiz-grey:focus {
    color: white;
  }

  .btn-pollbiz-grey.orange {
    background-color: #e16d38;
  }

  .color-orange {
    color: #e16d38;
  }

  .color-orange:focus, .color-orange:hover {
    color: #e16d38;
  }

  /* ----- */

  .block-header-tuto {
    text-align: center;
    background-color: #eef0f3;
    padding: 5% 5% 0px 5%;
  }

  .block-header-tuto2 {
    text-align: center;
    background-color: #eef0f3;
    padding: 1% 5% 0px 5%;
  }

  .block-footer {
    text-align: center;
    background-color: #eef0f3;
  }

  .carousel-inner > .item > a > img, .carousel-inner > .item > img, .img-responsive, .thumbnail > img, .thumbnail a > img {
    display: block;
    max-width: 100%;
    height: auto;
  }

  .img-responsive-bas {
    position: relative;
    bottom: 0;
    max-width: 20%;
    padding: 2% 0% 10px 0%;
  }

  .exemple {
    text-align: center;
  }

  progress {
    display: inline-block;
    height: 1em;
    width: 100%;
    vertical-align: -0.2em;
    background-color: #eef0f3;
    -webkit-block-flow: tb !important;
  }

  progress[value]::-webkit-progress-bar {
    background-color: #eef0f3;
  }

  progress[value]::-webkit-progress-value {
    background-color: #e16d38;
  }

  @media only screen and (max-width: 600px) {

    .img-responsive-bas {
      position: relative;
      bottom: 0;
      max-width: 20%;
      padding: 5px 0% 10px 0%;
    }

    .block-header-tuto {
      text-align: center;
      background-color: #eef0f3;
      padding: 15% 5% 0px 5%;
    }
  }
}
