<template name="header">
  <div class="block-header">
    {{#if isHr}}
      <a href="{{pathFor 'admin'}}" class="btn btn-xs btn-warning pull-right margin-10">Admin</a>
    {{/if}}
    <a href="/">
      <img src="/img/logo/lovly.png" class="logo {{smallIfConnected}}">
    </a>
    <div class="clearfix"></div>
  </div>
</template>
