<template name="appLoading">
  <div class="block-header">
    <div class="text-center loading-app m-t-20">
      <h2><i class="fa fa-spinner fa-spin"></i> Veuillez patienter, chargement...</h2>
    </div>
  </div>
</template>
