<template name="tutoLayout">

  <div class="block-header">
    {{#if isHr}}
      <a href="{{pathFor 'admin'}}" class="btn btn-xs btn-warning pull-right margin-10">Admin</a>
    {{/if}}
  </div>

  <div id="tuto">
    <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-12">
      {{> yield}}
    </div>
  </div>
  {{> footer}}

  {{> orbiterErrors }}
  {{> orbiterCoreException }}
  <!--{{> orbiterConnectionAlert}}-->
</template>
