<template name="pollbizAdminHrCompanies">
  <h1>My Company</h1>

  {{#if isEditing }}
    {{> pollbizAdminCompanyEdit}}
  {{else}}
    {{#unless hasCompany}}
      <form id="add" class="m-t-50">
        <div class="form-group {{errorClass 'company'}} company-auto-complete-wrapper">
          <label>Define the company I manage</label>
          {{> inputAutocomplete settings=company id="company-auto-complete" class="form-control" placeholder="Name of your company" autocomplete="off"}}
          <input name="companyNew" type="hidden">
          <input name="companyId" type="hidden">
          <div class="help-block">{{errorMessage 'company'}}</div>
        </div>
        <button class="btn btn-xs btn-primary">Define</button>
      </form>
    {{/unless}}
  {{/if}}

  <!--<h2 class="m-t-50">List</h2>-->
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Name</th>
      <th>City</th>
      <!--<th></th>-->
    </tr>
    </thead>
    <tbody>
    {{#each companies}}
      <tr>
        <td>{{name}}</td>
        <td>{{city}}</td>
        <!--<td class="text-right">-->
          <!--<button type="button" class="btn btn-xs btn-warning edit"><i class="fa fa-edit fa-fw"></i></button>-->
          <!--<button type="button" class="btn btn-xs btn-danger delete"><i class="fa fa-trash fa-fw"></i></button>-->
        <!--</td>-->
      </tr>
    {{else}}
      <tr>
        <td colspan="3">No companies</td>
      </tr>
    {{/each}}
    </tbody>
  </table>
</template>


<template name="pollbizAdminCompanyHrEdit">
  {{#with editedCompany}}
    <form id="edit">
      <div class="form-group {{errorClass 'name'}}">
        <input name="name" type="text" class="form-control" placeholder="company name" value="{{name}}">
        <span class="help-block">{{errorMessage 'name'}}</span>
      </div>

      <div class="form-group {{errorClass 'city'}}">
        <input name="city" type="text" class="form-control" placeholder="city" value="{{city}}">
        <span class="help-block">{{errorMessage 'city'}}</span>
      </div>

      <button class="btn btn-primary submit"><i class="fa fa-check fa-fw"></i> Save</button>
      <button type="button" class="btn btn-default cancel"> Cancel</button>

    </form>
    {{> orbiterErrors}}
  {{/with}}
</template>