<template name="pollbizAdminHrDashboard">
  <h1>Dashboard</h1>

  <div>{{nbCompanies}} companies</div>
  <div>{{nbQuestions}} questions {{#if isWebmaster}}by default{{/if}}</div>
  <div>{{nbUsers}} users</div>
  <div>{{nbVotes}} votes</div>
</template>