<template name="pollbizAdminHrQuestionEdit">
  <h1>Questions edit</h1>

  <form>
    <div class="form-group {{errorClass 'question'}}">
      <input name="question" type="text" class="form-control" placeholder="question" value="{{question}}">
      <span class="help-block">{{errorMessage 'question'}}</span>
    </div>

    <div class="form-group {{errorClass 'tags'}}">
      <label>Tags</label>
      <!--<div class="input-group">-->
      <!--<a href="{{pathFor 'adminWordList' query='list=operation'}}" class="input-group-addon btn"><i class="fa fa-edit"></i></a>-->
      <input id="tagsInput" name="tags" class="form-control" data-role="tagsinput" placeholder="Tags">
      <!--</div>-->
      <span class="help-block">{{errorMessage 'tags'}}</span>
    </div>

    <div class="form-group {{errorClass 'videoId'}}">
      <label>Youtube Video ID</label>
      <input name="videoId" class="form-control" placeholder="Video ID" value="{{videoId}}">
      <span class="help-block">{{errorMessage 'videoId'}}</span>
    </div>

    <div class="form-group {{errorClass 'picture'}}">
      <label>Picture</label>
      {{> orbiterMediasMultipleAddEdit parentId=_id currentValues=pictureId source_id='pictureId' inputName='pictureId' sessionName='pictureId' multiple=false denyCrop=true denyRotate=true}}
    </div>

    <button class="btn btn-primary submit"><i class="fa fa-check fa-fw"></i> Save</button>
    <a href="{{pathFor 'pollbizAdminHrQuestions'}}" class="btn btn-default"> Cancel</a>
  </form>
  {{> orbiterErrors}}
</template>