<template name="pollbizAdminHrQuestions">
  <h1>Questions</h1>

  {{#if hasCompany}}
    <form id="import">
      <div class="form-group">
        <textarea name="import" class="form-control" placeholder="One question by line"></textarea>
      </div>
      <button class="btn btn-primary">Import</button>
    </form>

    <table class="table table-striped">
      <thead>
      <tr>
        <th>Question</th>
        <th>Tags</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      {{#each questions}}
        <tr>
          <td>{{question}}</td>
          <td>{{#each tags}} <span class="label label-info">{{this}}</span> {{/each}}</td>
          <td class="text-right">
            <a href="{{pathFor 'pollbizAdminHrQuestionEdit'}}" class="btn btn-xs btn-warning"><i class="fa fa-edit fa-fw"></i></a>
            <button type="button" class="btn btn-xs btn-danger delete"><i class="fa fa-trash fa-fw"></i></button>
          </td>
        </tr>
      {{else}}
        <tr>
          <td colspan="3">No Questions</td>
        </tr>
      {{/each}}
      </tbody>
    </table>
  {{else}}
    you are not part of any company
  {{/if}}
</template>