<template name="pollbizAdminHrUser">
  <h1>User</h1>

  {{#if hasCompany}}
    <h2>  {{#if profile.obPictureURL}}
      <img src="{{profile.obPictureURL}}" style="max-width: 50px;max-height: 50px;"/>
    {{/if}}{{profile.obName.last}} {{profile.obName.first}}
      <small>{{getEmailAddress _id}}</small>
    </h2>

    <div class="row">
      <div class="col-xs-6">
      </div>
      <div class="col-xs-6">
        <div class="pull-right m-t-25 gl-24 tt-u">
          <span class="pull-left help-block m-r-15">{{errorMessage 'dateTo'}}</span>
          <input id="dateFromInput" name="dateFrom" size="15" class="datepicker m-r-5 {{errorClass 'dateFrom'}}" placeholder="from"/><label for="dateFromInput" class="hidden-xs"><img src="/img/calendar-icon.png" class="calendar-icon m-r-15"
                                                                                                                                                                                       height="24"></label>
          &lsaquo; <input id="dateToInput" name="dateTo" size="15" class="datepicker m-r-5 m-l-15 {{errorClass 'dateTo'}}" placeholder="to"/><label for="dateToInput" class="hidden-xs"><img src="/img/calendar-icon.png" class="calendar-icon"
                                                                                                                                                                                             height="24"></label>
        </div>
      </div>
    </div>

    <!--<div><strong>Company</strong> : {{profile.company.name}}</div>-->
    <div><strong>Polls received</strong> : {{voteReceveid}}</div>
    <div><strong>Polls answered</strong> : {{voteAnswered}}</div>
    {{#with tags}}
      <div><strong>Scores</strong> : {{#each this}}{{#if name}} <span class="label label-info">{{name}} : {{value}}</span> {{/if}}{{/each}}</div>
    {{/with}}
  {{else}}
    you are not part of any company
  {{/if}}

</template>