<template name="pollbizAdminHrUsers">
  <h1>Users</h1>

  {{#if hasCompany}}
    <div class="row">
      <div class="col-xs-6">
        <form id="invit" class="form-inline m-t-25">
          <div class="form-group {{errorClass 'email'}} js-email">
            <input type="email" name="email[]" class="form-control" placeholder="Enter an email"/>
            <div class="help-block">{{errorMessage 'email'}}</div>
          </div>
          <button type="submit" class="m-b-10 btn btn-primary js-send-invitation">Invit</button>
        </form>
      </div>
      <div class="col-xs-6">
        <div class="pull-right m-t-25 gl-24 tt-u">
          <span class="pull-left help-block m-r-15">{{errorMessage 'dateTo'}}</span>
          <input id="dateFromInput" name="dateFrom" size="15" class="datepicker m-r-5 {{errorClass 'dateFrom'}}" placeholder="from"/><label for="dateFromInput" class="hidden-xs"><img src="/img/calendar-icon.png" class="calendar-icon m-r-15"
                                                                                                                                                                                       height="24"></label>
          &lsaquo; <input id="dateToInput" name="dateTo" size="15" class="datepicker m-r-5 m-l-15 {{errorClass 'dateTo'}}" placeholder="to"/><label for="dateToInput" class="hidden-xs"><img src="/img/calendar-icon.png" class="calendar-icon"
                                                                                                                                                                                             height="24"></label>
        </div>
      </div>
    </div>

    <table class="table table-striped table-hover">
      <thead>
      <tr>
        <th></th>
        <th>Last Name</th>
        <th>First Name</th>
        <th>Email</th>
        <!--<th>Company</th>-->
        <th>Received</th>
        <th>Answered</th>
        <th width="80"></th>
      </tr>
      </thead>
      <tbody>
      {{#each users}}
        <tr class="js-hr-router-go-user">
          <td>
            {{#if profile.obPictureURL}}
              <img src="{{profile.obPictureURL}}" style="max-width: 50px;max-height: 50px;"/>
            {{/if}}
          </td>
          <td>{{profile.obName.last}}</td>
          <td>{{profile.obName.first}}</td>
          <td>{{getEmailAddress _id}}</td>
          <!--<td>{{profile.company.name}}</td>-->
          <!--<td>{{getService _id}}</td>-->
          <td>{{voteReceveid}}</td>
          <td>{{voteAnswered}}</td>
          <td class="text-right">
          <!--{{#if canEdit}}-->
            <!--<button type="button" class="btn btn-xs btn-warning edit"><i class="fa fa-edit fa-fw"></i></button>-->
            <!--{{/if}}-->
            <!--{{#if canDelete}}-->
            <!--<button type="button" class="btn btn-xs btn-danger delete"><i class="fa fa-trash fa-fw"></i></button>-->
            <!--{{/if}}-->
          </td>
        </tr>
      {{else}}
      <tr><td colspan="7">No user</td></tr>
      {{/each}}
      </tbody>
    </table>
  {{else}}
    you are not part of any company
  {{/if}}

</template>

<!--<template name="orbiterAdminUsersAdd">-->

<!--<h2>Create user</h2>-->

<!--{{> orbiterAccountsAdminEnroll}}-->
<!--</template>-->

<template name="pollbizAdminHrUsersEdit">
  {{#with editedUser}}
    <form>
      <div class="form-group {{errorClass 'last'}}">
        <input name="profile.obName.last" type="text" class="form-control" placeholder="last name" value="{{profile.obName.last}}">
        <span class="help-block">{{errorMessage 'last'}}</span>
      </div>

      <div class="form-group {{errorClass 'first'}}">
        <input name="profile.obName.first" type="text" class="form-control" placeholder="first name" value="{{profile.obName.first}}">
        <span class="help-block">{{errorMessage 'first'}}</span>
      </div>

      <div class="form-group {{errorClass 'email'}}">
        <input name="email" type="email" class="form-control" placeholder="{{_ "email"}}" value="{{getEmailAddress _id}}">
        <span class="help-block">{{errorMessage 'email'}}</span>
      </div>

      <div class="form-group {{errorClass 'company'}} company-auto-complete-wrapper">
        {{> inputAutocomplete settings=company id="company-auto-complete" class="form-control" placeholder="Name of your company" value=profile.company.name autocomplete="off"}}
        <div class="help-block">{{errorMessage 'company'}}</div>
      </div>

      <button class="btn btn-primary submit"><i class="fa fa-check fa-fw"></i> Save</button>
      <button type="button" class="btn btn-default cancel"> Cancel</button>

    </form>
    {{> orbiterErrors}}
  {{/with}}
</template>